<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mobile Blog Website</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script type = "text/javascript" src="script.js"> </script>
</head>
<body>

	<div class="list-type">
			<h3>LINK</h3>
			<ol>
				<li><a href="https://suicidepreventionlifeline.org">Suicide Hotline</a></li>
				<li><a href="https://www.psychologytoday.com/us/therapists">Find a Therapist</a></li>
				<li><a href="https://healthfinder.gov/FindServices/SearchContext.aspx?topic=833">Find a Support Group</a></li>
				<li><a href="https://smokefree.gov">Tobacco Cessation</a></li>
				<li><a href="https://www.samhsa.gov/find-help/national-helpline">Substance Abuse Hotline</a></li>
				<li><a href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/creating-a-budget">How to Create a Budget</a></li>
				<li><a href="https://www.healthline.com/nutrition/how-to-lose-weight-as-fast-as-possible">Weight Loss </a></li>
				<li><a href="https://sleepfoundation.org/sleep-tools-tips/healthy-sleep-tips">Healthy Sleep Tips </a></li>
				<li><a href="https://www.mayoclinic.org/diseases-conditions/high-blood-pressure/in-depth/high-blood-pressure/art-20046974">Blood Pressure Reduction </a></li>
				<li><a href="https://www.livecareer.com/career/advice/jobs/15-excelling-work-tips">Improve Work Performance</a></li>
			</ol>
			<div id="project_bottom">
				<button class = "button" onclick="viewHealthClick()"> View Health/Stress Plot</button>
				<button class = "button" onclick="viewGoalHistory"> View Goal History</button>
				<p id ="demo"></p>
			</div>
	</div>






</body>
</html>
